﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link type="text/css" href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AMC Bookstore", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Links <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://github.com/ChadESmith42?tab=repositories" target="_blank">GitHub Repo</a></li>
                            <li><a href="https://bitbucket.org/chadesmith/amc.bookstore/src/master/" target="_blank">BitBucket Repo</a></li>
                            <li><a href="https://documenter.getpostman.com/view/4779353/RWgtScCP" target="_blank">Postman Documentation</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="https://www.linkedin.com/in/chadesmith/" target="_blank">LinkedIn</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="http://codingbychad.com" target="_blank">Coding by Chad</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <a href="http://codingbychad.com" target="_blank" class="plain__link">Coding By Chad</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
